body {
  font-family: 'Zen Maru Gothic', sans-serif;
  background-color: #dc3545; }

* {
  margin: 0px;
  padding: 0px; }

/*HEADER////////////////////////////////////////////////// */
.headers {
  display: grid;
  grid-template-areas: "logo tituloP"
 "logo subTitulo"; }

#logo {
  grid-area: logo;
  display: flex;
  justify-content: center; }

#tituloP{
  grid-area: tituloP;
  display: flex;
  padding-top: 15px; }

#subTitulo {
  grid-area: subTitulo;
  display: flex;
  justify-content: center; }

nav {
  border-style: solid;
  display: flex;
  padding: 10px;
  top: -1px; }

header img {
  border-radius: 70%;
  width: 220px;
  height: 110px; }

h1, h2 {
  text-align: center; }

nav a {
  text-decoration: none;
  color: black;
  width: 20%; }

/*TEXTOS Y FONDOS///////////////////////////////////////////// */
.centrar {
  text-align: center; }

.letrasDeLinks {
  font-size: 18px; }

.letrasMedianas {
  font-size: 22px; 
}
.letrasGrandes{
  font-size: 26px; 
  color: black;
}
.letraspequenas{
  font-size: 20px;
}

.letrasParaTitulos {
  font-size: 30px;
  color: #350c81; }

.subTitulos {
  font-size: 26px;
  color: #350c81; 
  padding-top: 25px;}

.puntos {
  font-size: 40px; }
p{
  color: black;
}
/*SECCIONES DE PAGINA///////////////////////////////////////////// */
#section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
  padding: 15px; }

.form {
  display: flex;
  border-style: solid;
  flex-direction: column;
  padding: 15px;
  background-image: linear-gradient(to right, #044369, #217b9e, #27ada9, #74cdf0);
  text-align: center; }

.formOpciones {
  padding: 10px; }

article {
  padding: 10px;
  margin: 20px;
  text-align: center;
  background-image: linear-gradient(to right, #044369, #217b9e, #27ada9, #74cdf0); }

section {
  text-align: center; }

#productos {
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.recomendaciones {
  display: flex;
  border-style: solid;
  border-radius: 10%;
  justify-content: center;
  width: 300px; }

.productos-Productos {
  display: flex; }

.productos-Buscados {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-style: solid;
  width: 100%;
  margin: 10px; }

.productosPrueba {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 200px; }

/* Botones, inicio de sesion///////////////////////////////////////////// */
#usuarios {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
   }

.botonesUsuarios {
  margin: 15px;
  height: 60px;
  width: 450px;
  background-image: linear-gradient(to right, #044369, #217b9e, #27ada9, #74cdf0);
  border-style: solid;
  border-radius: 5%; }

/* GRIDD//////////////////////////////////////// */
.grid {
  display: grid;
  grid-template-areas: "categorias producto producto producto"
 "categorias producto producto producto"
 "categorias producto producto producto"
 "categorias producto producto producto"
 "categorias producto producto producto";
  grid-template-columns: 12% auto 20%;
  grid-template-rows: 1fr 50px 2fr 3fr 60px;
  grid-column-gap: 5px;
  grid-row-gap: 5px; }

#categorias {
  grid-area: categorias;
  border-style: solid;
  background-color: #0c5583;
  font-size: 15px;
  padding: 10px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.titulo {
  border-style: solid;
  padding-bottom: 20px;
  margin: 10px;
  background-image: linear-gradient(to right, #217b9e, #27ada9, #74cdf0);}

#area-Productos {
  grid-area: producto;
  margin-top: 5px;
  border-style: solid; }

/*RESAGADOS///////////////////////////////////////////// */
ul {
  list-style: none;
  padding-right: 25px; }

a {
  text-decoration: none;
  color: black;
  font-weight: bold; }

div a {
  text-decoration: none;
  color: black; }

.padding {
  padding: 10px; }

.bordes {
  border-style: solid;
  padding: 6px; }

div img {
  padding: 10px; }

.paddingNav {
  padding-right: 30px;
  padding-left: 30px;
  font-size: 18px;
  color: black; }

.idioma {
  padding-right: 10px; }

.fondo {
  background-color: #eee8e8; }

.noMargin {
  margin: 0px; }

.noPadding {
  padding: 0px; }

.carrusel {
  height: 650px; }

.imgModal {
  height: 480px;
  width: 500px;
  padding: 15px; }

.padding-top{
  padding-top: 10px; }

/* FOOTER/////////////////////////////////////////////// */
footer {
  padding: 6px;
  text-align: center;
  border-style: solid; }

/* logo////////////////////////////////////////////// */
.agrandar {
  transition: height 2s, width 1s; }

.agrandar:hover {
  width: 300px;
  height: 200px;
  border-radius: 100%;
  padding: 10px; }


/*/////// responsive//////////*/
@media (max-width: 650px) {
  body {
    font-size: 13px; }
  header {
    height: 120px; }
  header img {
    max-height: 120px;
    max-width: 150px; }
  .letrasParaTitulos {
    font-size: 18px;
    color: #350c81; }
  .letrasMedianas {
    font-size: 15px; }
  .letrasDeLinks {
    font-size: 16px; }
  .subTitulos {
    font-size: 15px;
    color: #350c81; }
  .recomendaciones {
    display: flex;
    border-style: solid;
    border-radius: 5%;
    justify-content: center;
    width: 250px; }
  .carrusel {
    height: 300px; }
  .btn {
    width: 65px; }
  .letrasGrandes{
    font-size: 20px; 
  }
  .productos-Buscados {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 10px; }

  .grid {
    display: grid;
    grid-template-areas: "categorias categorias producto producto " 
  "categorias categorias producto producto "
  "categorias categorias producto producto "
  "categorias categorias producto producto "
  "categorias categorias producto producto "
  "categorias categorias producto producto "; }

  #categorias {
    font-size: 15px;
    padding: 10px;
    width: 100%;
    margin-top: 5px; }

  .botonesUsuarios {
    margin: 15px;
    height: 50px;
    width: 350px;
 }
  
  .letraspequenas{
    font-size: 16px;
  }
  td div{
    display: none;
  }
  .padding-left-peq {
    padding-top: 10px; }
}



  @media (min-width: 651px) and (max-width: 900px) {
    body {
      font-size: 13px; }
  
    header img {
      width: 220px;
      height: 110px; }
    .letrasParaTitulos {
      font-size: 24px;
      color: #350c81; }
    .letrasMedianas {
      font-size: 18px; }
    .letrasDeLinks {
      font-size: 16px; }
    .subTitulos {
      font-size: 18px;
      color: #350c81; }
    .recomendaciones {
      display: flex;
      border-style: solid;
      border-radius: 5%;
      justify-content: center;
      width: 250px; }
    .carrusel {
      height: 500px; }
    .btn {
      width: 65px; }
    .letrasGrandes{
      font-size: 20px; 
    }
    .productos-Buscados {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      margin: 10px; 
      }
  
    .grid {
      display: grid;
      grid-template-areas: "categorias categorias producto producto producto producto producto" 
    "categorias categorias producto producto producto producto producto"
    "categorias categorias producto producto producto producto producto"
    "categorias categorias producto producto producto producto producto"
    "categorias categorias producto producto producto producto producto"
    "categorias categorias producto producto producto producto producto";}
  
    #categorias {
      width: 100%;}
    
    .letraspequenas{
      font-size: 18px;
    }

    .padding-left-peq {
      padding-top: 10px; }
  }
  /*/////// responsive3//////////*/
  @media (min-width: 901px) and (max-width: 1000px) {

    .productos-Buscados {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      margin: 10px; 
       }
  
    .grid {
      display: grid;
      grid-template-areas: "categorias categorias producto producto producto producto producto" 
    "categorias categorias producto producto producto producto producto"
    "categorias categorias producto producto producto producto producto"
    "categorias categorias producto producto producto producto producto"
    "categorias categorias producto producto producto producto producto"
    "categorias categorias producto producto producto producto producto";}
  
    #categorias {
      width: 100%;}
      
    .padding-left-peq {
      padding-top: 10px; }
}
  /*/////// responsive3//////////*/
    @media (min-width: 1001px) and (max-width: 1100px){

      .productos-Buscados {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        margin: 10px; 
       }
    
      .grid {
        display: grid;
        grid-template-areas: "categorias categorias producto producto producto producto " 
      "categorias categorias producto producto producto producto "
      "categorias categorias producto producto producto producto "
      "categorias categorias producto producto producto producto "
      "categorias categorias producto producto producto producto "
      "categorias categorias producto producto producto producto ";}
    
      #categorias {
        font-size: 15px;
        padding: 10px;
        width: 100%;
        margin-top: 5px; }          
      }

  /*/////// responsive3//////////*/
  @media (min-width: 1101px) {

    .productos-Buscados {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      margin: 10px; 
     }
  
    .grid {
      display: grid;
      grid-template-areas: "categorias categorias producto producto producto producto " 
    "categorias categorias producto producto producto producto "
    "categorias categorias producto producto producto producto "
    "categorias categorias producto producto producto producto "
    "categorias categorias producto producto producto producto "
    "categorias categorias producto producto producto producto ";}
  
    #categorias {
      font-size: 15px;
      padding: 10px;
      width: 100%;
      margin-top: 5px; }
  
    }
  
/*///////  color header, footer, nav //////////*/
header {
  background-image: linear-gradient(to right, #044369, #217b9e, #27ada9, #74cdf0); }

footer {
  background-image: linear-gradient(to right, #044369, #217b9e, #27ada9, #74cdf0); }

nav {
  background-image: linear-gradient(to right, #044369, #217b9e, #27ada9, #74cdf0); }

thead{
  background-image: linear-gradient(to right, #044369, #217b9e, #27ada9, #74cdf0);
  border-style: solid;
  height: 50px;
  padding-bottom: 10px;
}
table{
  width: 100%;
}

td img{
  padding: 10px;
}

select {
  background-color: #eee8e8; }

img {
  width: 150px;
  height: 100px; }

div img {
  width: 180px;
  height: 120px; }

svg {
  height: 25px;
  width: 25px;
  margin-left: 20px; }

footer img {
  border-radius: 70%;
  width: 150px;
  height: 100px; }

.padding-left {
  padding-left: 16px; }

.padding-left-menu {
  padding-left: 20px;
  width: 150px; }

.padding-left-peq {
  padding-left: 10px; }

.vh{
  height: 50vh;
}
.precios{
  font-size: 22px;
  font-weight: bold; 
}
.productosPrueba p{
  margin: 0px;
}
.recomendaciones p{
  margin: 0px;
}
